# Radoskop {{CITY_NAME}}
> Otwarte narzędzie monitoringu Rady Miasta {{CITY_GENITIVE}}. Dane z protokołów BIP.

## O projekcie
Radoskop to otwarta aplikacja webowa umożliwiająca obywatelom monitorowanie pracy radnych miejskich. Projekt analizuje protokoły głosowań z Biuletynu Informacji Publicznej (BIP) i prezentuje dane w przystępnej formie: frekwencja, głosowania imienne, zgodność z klubem, aktywność na sesjach.

## Dane
- Strona: {{SITE_URL}}
- Źródło: {{BIP_URL}}
- Kadencja: {{KADENCJA_LABEL}}

## Funkcje
- Ranking radnych wg frekwencji, aktywności i zgodności z klubem
- Profile radnych z historią głosowań
- Analiza podobieństwa głosowań między radnymi
- Pełny log każdej sesji z głosowaniami imiennymi

## Dostęp
- Dashboard: {{SITE_URL}}/
- Repozytorium: {{GITHUB_URL}}
- Autor: {{AUTHOR}}
